body {
    background-color:antiquewhite;
}

.header {
    display: flex;
    justify-content: flex-end;
    background-color:oldlace;
    padding: 10px;
}

.header a {
    margin-left: 20px;
}

a {
    color: dimgray;
    text-decoration: none;
}

h1 {
    text-align: center; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-size: 24px;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color:rgb(174, 139, 94); 
    color: white;
}

.beige {
    background-color:beige; 
}

.burlywood {
    background-color:burlywood; 
}

form {
    background-color:bisque;
    border: 4px solid burlywood;
    padding: 10px;
    margin-top: 15px;
    width: 300px; 
    margin-left: auto;
    margin-right: auto; 
    border-radius: 8px;
}

fieldset {
    border: none;
}

label {
    display: block;
    margin-bottom: 3px;
}